{{ define "taxonomy" }}
  {{ with . | sort }}
    {{ range $k, $v := . }} 
      {{ if $k }}|{{ end }} 
      {{ with $v }} 
        <a href="{{ .Permalink }}" class="text-sky-800">#{{ .Title }}</a>
      {{ end }} 
    {{ end }}
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ $teaser := index (.Resources.ByType "image") 0 }}
  {{ $teaser := $teaser.Resize "500x"}}
  {{ $filter := slice }}
  <div class="flex gap-6">
    <div class="p-3 rounded-lg bg-white drop-shadow">
      <img src="{{ $teaser.Permalink }}" alt="ads-{{ $.Title }}" class="block rounded-lg max-h-[512px]">
    </div>
    <div class="w-full p-3 flex flex-col">
      <div>
        <h1 class="text-2xl font-bold mb-6">{{ .Title | upper }}</h1>
        <h2 class="text-xl font-bold">{{ T "categories" | title }}</h2>
        {{ template "taxonomy" (.GetTerms "categories") }}
        <h2 class="mt-6 text-xl font-bold">Tags</h2>
        {{ template "taxonomy" (.GetTerms "tags") }}
      </div>
      <div class="grow flex mt-6 items-end">
        <div class="flex flex-wrap gap-3">
          <div>
            {{ with .Next }}
              <a href="{{ .Permalink }}" class="block p-3 rounded-full border border-slate-500 text-sky-800">{{ .Title }}</a>
            {{ else }}
              {{ with (index (.GetPage "ads").RegularPages.Reverse 0) }}
                <a href="{{ .Permalink }}" class="block p-3 rounded-full border border-slate-500 text-sky-800">{{ .Title }}</a>
              {{ end }}
            {{ end }}
          </div>
          <div>
            {{ with .Prev }}
              {{ if eq .Section "book" }}
                {{ with (index (.GetPage "ads").RegularPages 0) }}
                  <a href="{{ .Permalink }}" class="block p-3 rounded-full border border-slate-500 text-sky-800">{{ .Title }}</a>
                {{ end }}
              {{ else }}
                <a href="{{ .Permalink }}" class="block p-3 rounded-full border border-slate-500 text-sky-800">{{ .Title }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}