{{ define "main" }}
  <div>{{ partial "book-crumbs" . }}</div>
  <article >
    <div class="mt-6">
      <h1 class="text-2xl font-bold">{{ .Title }}</h1>
    </div>
    <div class="flex flex-wrap gap-9">
      <div class="md:basis-2/3">
        <div>{{ .Content }}</div>
        {{ partial "book-chapters-paginator" . }}
      </div>
      <div class="grow max-w-[30%] pt-9">
        <div class="p-6 rounded-lg bg-slate-200 ">
          <h2 class="mb-1 font-3xl font-bold">{{ T "stats" | title }}</h2>
          {{ partial "base-stats" .  }}
          <h2 class="mt-3 mb-1 font-3xl font-bold">{{ T "toc" | title }}</h2>
          {{ partial "book-toc" . }}
        </div>
      </div>
    </div>
  </article>
{{ end }}